# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment-specific configuration files
.env
.env.test

# macOS system files
.DS_Store

# Replit-specific configuration files

.replit.nix

# VS Code settings (if using VS Code)
.vscode/

# Logs
logs
*.log
logs/*.log

# Output of npm build process
dist/
build/
  